.NavBar {
  background-color: #FFFFFF;
  border-bottom: 2px solid #555555;
  position: fixed;
  padding: 1rem 5rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.nav-bar--link-outer {
  text-align: center;
}

.nav-bar--link-inner {
  text-decoration: none;
  color: #000000;
  display: block;
  border: 1px solid #555555;
  padding: 0.3rem 0;
  margin: 0 1.5rem;
}

@media(max-width: 767px) {
  .nav-bar--link-inner {
    margin: 0;
  }
}

@media(max-width: 575px) {
  .NavBar {
    display: none;
  }
}